<?php $_data = $block->get_data(); ?>
<div id="PAYZOS">
    <div class="row">
        <?php if (isset($_data["error"])) { ?>
            <h5 style="color : #e74c3c; text-align:center"><?php echo $_data["error"]; ?></h5>
        <?php } else { ?>
            <table width="500px">
                <tr>
                    <td class="text-left">Payment Id : &nbsp;</td>
                    <td class="text-left">PZ<?php echo $_data["payment_id"]; ?></td>
                </tr>
                <tr>
                    <td class="text-left">"TX : &nbsp;</td>
                    <td class="text-left"><?php echo $_data["transaction_hash"]; ?></td>
                </tr>
                <tr>
                    <td class="text-left">"amount :&nbsp;</td>
                    <td class="text-left"><?php echo $_data["amount"]; ?></td>
                </tr>
                <tr>
                    <td class="text-left">"date : &nbsp;</td>
                    <td class="text-left"><?php echo $_data["date"]; ?></td>
                </tr>
            </table>
        <?php } ?>

    </div>
</div>
